.board-container {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    gap: 10px;
    justify-content: center;
    
    /* background-color: rgb(118, 4, 153); */
    border: 1px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bolder;
}